#map {
    width: 450px;
    height: 450px;
    background-color: grey;

    margin-bottom: 20px;
    border-radius: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
}